$colors: (
        deep-violet : #220660,
        awesome : #F91E5A,
        charleston-green : #272D33,
        white : #FFFFFF,
        black : #000000,
        gray : #939699,
        grayBlue : #4F5A73,
);
$fSizes: (
        12 : 12px,
        14 : 14px,
        16 : 16px,
        18 : 18px,
        20 : 20px,
        24 : 24px,
        28 : 28px,
        32 : 32px,
        40 : 40px,
        48 : 48px,
);